* {
  min-height: 0;

  border: none;

  font-family: Fira Code;
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  padding: 5px;

  background: none;
}

#workspaces {
  margin-top: 10px;
  padding-left: 10px;

  background: none;
}

#workspaces button {
  margin-right: 5px;
  padding-left: 4px;
  padding-right: 4px;

  border: 1px solid #928374;
  border-radius: 2px;

  background: none;
  color: #928374;
}

#workspaces button.active {
  border-color: #ebdbb2;
  color: #ebdbb2;
}

#workspaces button:hover {
  border-color: #ebdbb2;
  color: #ebdbb2;

  transition-duration: 500ms;
}

#workspaces button.urgent {
  border-color: #cc241d;
  color: #cc241d;
}

#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#backlight,
#language,
#battery {
  margin-top: 10px;

  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid #ebdbb2;
  border-radius: 2px;

  color: #ebdbb2;
}

#battery {
  margin-right: 10px;
}

#battery.charging,
#battery.plugged {
  background-color: #98971a;
}

@keyframes blink {
  to {
    background: none;
  }
}

#battery.critical:not(.charging) {
  background: #cc241d;

  animation-name: blink;
  animation-duration: 500ms;
  animation-timing-function: steps(50);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
